@import '../variables';
@import '../main';

.card-tiny {
  @include flex-row;
  margin: 20px 0;
  justify-content: space-around;
  background-color: $light-grey;
  border-radius: $radius-xxl;
  height: 78px;
  width: 490px;
  padding: 4px;


  &__img {
    width: 55px; /* Imposta una larghezza desiderata */
    height: 55px; /* Imposta un'altezza desiderata */
    border-radius: 50%; /* Rende l'immagine circolare */
    object-fit: cover;
  }

  &__details {
    @include flex-column;
    align-items: flex-start;

  }

  &__title {
    color: $dark;
  }

  &__p {
    width: 300px;
    font-size: $body-s-font-size;
    color: $dark-grey;
  }
}