@import '../variables';
@import '../main';

.megamenu {
  @include flex-row;
  width: 1100px;
  margin-top: 120px;
  position: fixed;
  background-color: $white;
  border-radius: $radius-l;
  height: 100vh;
  z-index: 1;

  &__sidebar {
    @include flex-column;
    margin-top: 80px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
    gap: 30px;
    width: 20%;
    height: 100vh;
  }

  &__content {
    @include flex-column;
    width: 80%;
    height: 100vh;
    gap: 30px;
    margin-top: 68px;
    justify-content: flex-start;
  }

  &__row {
    @include flex-column;
    width: 100%;
  }

  &__row-details {
    @include flex-row;
    width: 90%;
    justify-content: space-between;
  }

  &__row-cards {
    @include flex-row;
    margin-top: 20px;
    gap: 20px;
  }

  &__img {
    width: $icon-size-m;
    height: $icon-size-m;
    position: relative;
    top: 3px;
    left: 6px;
  }

  &__p {
    color: $dark-grey;
    font-size: $body-s-font-size;
  }
}