@import '../variables';
@import '../main';

.sectionCards {
  @include flex-column;
  margin-top: 100px;
  width: 90%;
  margin-bottom: 75px;
  max-width: 1100px;
  height: 460px;
  padding: 0 55px;
  border-radius: $radius-l;

  &__theme-accent {
    background-color: $accent;

  }

  &__theme-dark {
    background-color: $dark-grey;

  }

  &__head {
    @include flex-row;
    margin-bottom: 12px;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    color: $white;
    font-size: 32px;
  }

  &__container {
    @include flex-row;
    gap: 10px;
  }
}

