@import '../variables';
@import '../main';

.button {
  @include flex-row;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;

  &.primary {
    background-color: $accent;
    color: white;
    border-radius: $radius-pill;
  }

  &.alt {
    background-color: transparent;
    color: $dark;
  }

  &:hover {
    background-color: $accent-light;
  }

  &__icon {
    width: 16px;
    height: 16px;

    &--before {
      margin-right: 8px;
    }

    &--after {
      margin-left: 8px;
    }

    &--white {
      filter: brightness(0) invert(1);

    }

    &--gray {
      filter: brightness(0) invert(0.4);
    }
  }
}

